* {
    box-sizing: border-box;
    font-family: Verdana;
    text-align: center;
}

body {
    background-color: #F2F2F2;
}

table {
    background-color: #FFF;
    color: #333;
    font-family: sans-serif;
    font-size: .9em;
    font-weight: 300;
    text-align: left;
    line-height: 40px;
    border-spacing: 0;
    border: 1px solid #428bca;
    margin: 20px auto;
    cursor: pointer;
}

thead tr:first-child {
    background: #428bca;
    color: #fff;
    border: none;
}

th {
    font-weight: bold;
}

th:first-child, td:first-child {
    padding: 0 15px 0 20px;
}

thead tr:last-child th {
    border-bottom: 2px solid #ddd;
}

tbody tr:hover {
    background-color: #f0fbff;
}

tbody tr:last-child td {
    border: none;
}

tbody td {
    border-bottom: 1px solid #ddd;
}

td:last-child {
    text-align: right;
    padding-right: 10px;
}

button {
  position: relative;
  vertical-align: top;
  height: 60px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}

button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button:disabled {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.5;
}